html,
body {
    height: 100%;
}

img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.cursor-pointer{
    cursor:pointer
}

.bg-gray{
    background-color: #ECECEC;
}
